[submodule "hylreg_QT"]
	path = hylreg_QT
	url = https://github.com/hylreg/hylreg_QT.git
	branch = main
[submodule "hylreg_PCL"]
	path = hylreg_PCL
	url = https://github.com/hylreg/hylreg_PCL.git
	branch = main
[submodule "hylreg_OpenCV"]
	path = hylreg_OpenCV
	url = https://github.com/hylreg/hylreg_OpenCV.git
	branch = main
[submodule "hylreg_LLM"]
	path = hylreg_LLM
	url = https://github.com/hylreg/hylreg_LLM.git
	branch = main
